[submodule "wiki/skins/UespMonoBook"]
	path = wiki/skins/UespMonoBook
	url = https://github.com/uesp/wikiuespmonobook.git
[submodule "wiki/skins/UespVector"]
	path = wiki/skins/UespVector
	url = https://github.com/uesp/wikiuespvector.git
[submodule "wiki/extensions/UespCustomCode"]
	path = wiki/extensions/UespCustomCode
	url = https://github.com/uesp/uesp-wikicustomcode.git
[submodule "wiki/extensions/UsersEditCount"]
	path = wiki/extensions/UsersEditCount
	url = https://github.com/uesp/uesp-wiki-usereditcount.git
[submodule "wiki/config"]
	path = wiki/config
	url = https://github.com/uesp/uesp-wikiconfig
[submodule "wiki/extensions/UespPatreon"]
	path = wiki/extensions/UespPatreon
	url = https://github.com/uesp/uesp-wikipatreon
[submodule "wiki/extensions/WikiAppApi"]
	path = wiki/extensions/WikiAppApi
	url = https://github.com/uesp/wikiappapi
[submodule "wiki/extensions/EsoCharData"]
	path = wiki/extensions/EsoCharData
	url = https://github.com/uesp/uesp-wiki-esochardata
[submodule "wiki/extensions/UespBreadCrumb"]
	path = wiki/extensions/UespBreadCrumb
	url = https://github.com/uesp/uesp-wikibreadcrumb
[submodule "wiki/extensions/PageSpeedLog"]
	path = wiki/extensions/PageSpeedLog
	url = https://github.com/uesp/wiki-pagespeedlog
[submodule "wiki/extensions/UespLegendsCards"]
	path = wiki/extensions/UespLegendsCards
	url = https://github.com/uesp/uesp-legendcards

[submodule "wiki/extensions/UespEsoItemLink"]
	path = wiki/extensions/UespEsoItemLink
	url = https://github.com/uesp/uesp-wiki-esoitemlink
