[submodule "wiki/skins/UespMonoBook"]
	path = wiki/skins/UespMonoBook
	url = https://github.com/uesp/wikiuespmonobook.git
[submodule "wiki/skins/UespVector"]
	path = wiki/skins/UespVector
	url = https://github.com/uesp/wikiuespvector.git
[submodule "wiki/extensions/UespCustomCode"]
	path = wiki/extensions/UespCustomCode
	url = https://github.com/uesp/uesp-wikicustomcode.git
[submodule "wiki/extensions/UsersEditCount"]
	path = wiki/extensions/UsersEditCount
	url = https://github.com/uesp/uesp-wiki-usereditcount.git
[submodule "wiki/config"]
	path = wiki/config
	url = https://github.com/uesp/uesp-wikiconfig
